
/*
  https://github.com/rafaelmardojai/thunderbird-gnome-theme
*/

@import "thunderbird-gnome-theme/userChrome.css";

/*#unifiedToolbar
{
  padding-block: 2px !important;
}*/

#threadTree tbody [data-properties~="unread"],
#threadTree tbody [data-properties~="new"]
{
  font-weight: normal !important;
  color: #ffffc0 !important;
}

#threadTree [data-properties~="unread"] .thread-card-container :is(.sender, .subject)
{
  font-weight: normal !important;
  color: #ffffc0 !important;
}

#threadTree [data-properties~="new"]:not(.selected) .thread-card-container :is(.date)
{
  font-weight: normal !important;
  color: var(--new-folder-color) !important;
  opacity: 1.0 !important;
}

#threadTree [data-properties~="new"]:not(.selected) .thread-card-container :is(.subject)
{
  font-weight: normal !important;
  color: #ffffc0 !important;
}

.thread-card-subject-container .subject
{
  font-weight: normal !important;
}

input
{
  border-color: rgba(127, 127, 127, 0.25) !important;
}

.searchBox, .themeableSearchBox
{
  border-color: rgba(127, 127, 127, 0.25) !important;
}

.unread > .container > .name, .new-messages > .container > .name
{
  font-weight: normal !important;
  color: #ffffc0 !important;
}

.folder-count-badge
{
  font-weight: normal !important;
  color: #ffffc0 !important;
}

.thread-card-row .subject
{
  font-size: unset !important;
  opacity: 0.4 !important;
}

.thread-card-row .date
{
  font-size: smaller !important;
  opacity: 0.4 !important;
}

.header-buttons-container
{
  justify-content: start !important;
  align-self: start !important;
}

.message-header-container
{
  padding: 6px !important;
}

.message-header-row.header-row-reverse
{
  flex-direction: column !important;
}

.message-header-row.items-center
{
  align-items: start !important;
}

#header-view-toolbox
{
  margin-bottom: 6px !important;
}

#threadTree[rows="thread-card"] button,
#threadTree[rows="thread-card"] img
{
  width: 1.1em !important;
  min-width: 1.1em !important;
  max-width: 1.1em !important;
  height: 0.75em !important;
  min-height: 0.75em !important;
  max-height: 0.75em !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  opacity: 0.4 !important;
  margin-bottom: 0.2em;
}

img.button-icon,
image.toolbarbutton-icon,
div.icon,
div.twisty
{
  width: 1.1em !important;
  min-width: 1.1em !important;
  max-width: 1.1em !important;
  height: 0.9em !important;
  min-height: 0.9em !important;
  max-height: 0.9em !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin-bottom: 0.2em;
}

.icons-beside-text,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
.toolbarbutton-text
{
  font-weight: normal !important;
}
